<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather / Home</title>
    <link rel="stylesheet" href="css/home.css">
    {{> headlinks}}
    </head>
<body>  
    {{> header}}
    <section class="slider_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h1>
                        Stay Updated <br>
                        With The Latest <br>
                        Weather Reports!
                    </h1>
                    <a href="/weather">
                        Check Forecast
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/home1.jpg" alt="Weather Updates">
                </div>
            </div>
        </div>
    </div>
</section>

    {{> footer}}
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>